<footer>

  <div class="footer-container">

    <!-- LOGO -->
    <div class="footer-box">
      <img src="assets/logoanime.png" class="logo" alt="Logo del portal Anime News" />
      <p>+1.2M usuarios</p>
      <p>15,200 artículos</p>
    </div>

    <!-- ACCESO -->
    <div class="footer-box">
      <h4>Acceso</h4>
      <a href="#">Inicio</a>
      <a href="#">Términos</a>
    </div>

    <!-- CONTACTO -->
    <div class="footer-box">
      <h4>Contacto</h4>
      <input type="text" placeholder="Nombre" />
      <input type="email" placeholder="Correo" />
      <textarea placeholder="Mensaje"></textarea>
    </div>

    <!-- ✅ MAPA CORRECTO -->
    <div class="footer-box">
      <h4>Ubicación</h4>

      <div class="map">
        <iframe
          src="https://www.google.com/maps?q=Av.%20Pie%20de%20la%20Cuesta%202501,%20Nacional,%2076148%20Santiago%20de%20Quer%C3%A9taro,%20Qro.&output=embed"
          width="50%"
          height="50%"
          style="border:0;"
          loading="lazy">
        </iframe>
      </div>

    </div>

  </div>

</footer>